.two-wide > * {
    display:inline-block;
    width:49%;
    vertical-align:top;
}
html {
    position:relative;
    min-height: 100%;
}
html, body {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

/* tabbing.css - from DHTML tutorial */
.tabbed > *{
  height:500px;
}
.tabbed .tab{
  display:none;
}
.tabbed .tab.active-tab{
  display:inline-block;
}


/* Padding for top or breadcrumb */
.affix {
    top: 10px;
}

/* Needed, when affixed, breadcrumb collapses and scrollable content jumps up */
.nav-wrapper {
    min-height:60px;
}

#artSubjects, #ahTab, #cmTab, #sqTab, #assignments {
    text-align: left;
    visibility:hidden;
}

.subject-header{
  font-size:28pt;
  padding-bottom: 30px;
}

.available-subdomain, .available-domain{
  text-decoration: underline;
}

.sidebar{
  background-color:#ddd;color:#fff;height:200px;
}

/* Assignment page */
.fixed-outline{
  position:fixed;
}
