.two-wide > * {
    display:inline-block;
    width:49%;
    vertical-align:top;
}

html{
  position: relative;
}
html, body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    min-height: 100%;
}

/* tabbing.css - from DHTML tutorial */
.tabbed > *{
  height:500px;
}
.tabbed .tab{
  display:none;
}
.tabbed .tab.active-tab{
  display:inline-block;
}


/* Padding for top or breadcrumb */
.affix {
    top: 10px;
}

/* Needed, when affixed, breadcrumb collapses and scrollable content jumps up */
.nav-wrapper {
    min-height:60px;
}

#tabbing-controls > *:not(#homeTab), #artSubjects {
    text-align: left;
    visibility:hidden;
}

.subject-header{
  font-size:28pt;
  padding-bottom: 30px;
}

.available-subdomain, .available-domain{
  text-decoration: underline;
}

.sidebar{
  background-color:#ddd;color:#fff;height:200px;
}

/* Assignment page */
.fixed-outline{
  position:fixed;
}


.nav .breadcrumb {
    margin: 0 7px;
}
@media (min-width: 768px) {
    .nav .breadcrumb {
        float: left;
        margin: 7px 10px;
    }
}

table, td, th {
  font-size:20pt;
   border: 1px solid black;
   text-align: left;
   margin: 10px 10px 10px 10px;
   padding: 0px 10px 0px 10px;
}

table {
   border-collapse: collapse;
}

.table-link {
  text-decoration: underline;
}
