
#response_area{
    border: 2px solid black;
    border-radius:10px;
    padding:1.5em;
    margin:1.5em;
}

.two-wide > * {
    display:inline-block;
    width:49%;
    vertical-align:top;
}

html, body {
    height: 100%;
    margin: 0;
    font-size: 20px;
}

/* Padding for top or breadcrumb */
.affix {
    top: 10px;
}

/* Needed, when affixed, breadcrumb collapses and scrollable content jumps up */
.nav-wrapper {
    min-height:60px;
}

#artSubjects, #sqOptions {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top:20px;
    display:block;
}
